.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4rem;
  background: white;
  border-bottom: 1px solid #f0f0f0;
}
.nav-logo { 
    display: flex; 
    align-items: center; 
    gap: 0.8rem; 
}
.logo-icon { 
    background: #7c3aed; 
    color: white; 
    padding: 8px 10px; 
    border-radius: 8px; 
    font-weight: bold; 
}
.logo-text-group {
     display: flex; 
     flex-direction: column; 
    }
.logo-text { 
    font-size: 1.1rem; 
    font-weight: 700; 
    color: #111827; 
}
.logo-subtext { 
    font-size: 0.7rem; 
    color: #9ca3af; 
}
.nav-links { 
    display: flex; 
    list-style: none; 
    gap: 1.5rem; 
}
@media (max-width: 900px) {
  .nav-links {
    display: none; 
  }
  .navbar {
    padding: 0.8rem 1rem;
  }
}
.nav-links li { 
    font-size: 0.9rem; 
    color: #6b7280; 
    cursor: pointer; 
    padding: 0.5rem 0.2rem; 
}
.nav-links li.active { 
    color: #7c3aed; 
    border-bottom: 2px solid #7c3aed; 
    font-weight: 600;
 }
.nav-btn { 
    background: #7c3aed; 
    color: white; 
    border: none; 
    padding: 0.6rem 1.2rem; 
    border-radius: 8px; 
    font-weight: 600; 
    cursor: pointer; 
}